body{
    background-image: url(../images/stripes-light.png);
}

.banner{
    background-color: pink;
    height: 175px;
}

.h1{
    font-size: 100px;
    color: darkslategrey;
    font-family: sans-serif;
    padding-top: 25px;
}

#directions {
    text-align: justify;
    font-size: 12px;
}

#target {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

#tally {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

#showTally{
    font-size: 35px;
    color: teal
}

#score{
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

.crystals{
    object-fit: contain;
    width: 200px;
    height: 200px;
    
}